<div class="home-header">
  <h1>Tabletopr</h1>
  <div class="home-tab">
    <h2>All games:</h2>
  </div>
</div>
<div class="games">
  <% @games.each do |game| %>
  <div class="game-item">
    <% if game[:photo].nil? %>
    <div class="game-background-item" style="background-image: linear-gradient(90deg, rgba(1, 1, 1, 0) 1%, white 99%),
    url('<%= image_path 'background.jpg' %>')"></div>
    <% else %>
    <div class="game-background-item" style="background-image: linear-gradient(90deg, rgba(1, 1, 1, 0) 1%, white 99%),
    url('<%= cl_image_path game.photo %>')"></div>
    <% end %>
    <div class="game-item-wrapper">
      <div class="game-item-content">
        <%= link_to game_path(game) do %>
        <h2>
          <%= game.name %>
        </h2>
        <% end -%>
        <p>
          <%= game.description %>
        </p>
      </div>
      <div class="game-item-actions">
        <% if user_signed_in? %>

        <% if current_user.games.include?(game) %>
        <%= link_to game_path(game), class: "view-game full-height" do %>
        <i class="fa fa-eye fa-2x"></i>
        <% end -%>
        <% else %>
        <%= link_to game_path(game), class: "view-game half-height" do %>
        <i class="fa fa-eye fa-2x"></i>
        <% end -%>
        <div class="join-game">
          <%= simple_form_for [game, @playing_session] do |f|  %>
          <%= f.submit "join", id: "join-game-submit" %>
          <i class="fa fa-plus fa-2x"></i>
          <% end -%>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
