<% if current_user.games.include?(@game) %>
<div class="game-actions">
  <%= link_to edit_account_game_path do %>
  <i class="fa fa-edit fa-2x"></i>
  <% end -%>
</div>
<% end -%>

<div class="game">
  <h2>
    <%= @game.name %>
  </h2>
  <p>
    <%= @game.description %>
  </p>
</div>

<div class="game-joined">
<% if current_user.games.include?(@game) %>
  <p>
  You have joined this game
  </p>
  <%= link_to "Leave?", game_playing_session_path(@game, @playing_session), method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
<p>
  You have not joined this game
</p>
<%= simple_form_for [@game, @playing_session] do |f|  %>
      <%= f.submit "Join this game", class:"btn btn-primary" %>
      <% end -%>
<% end %>
</div>